[all:vars]
# ansible_user=admin
# ansible_ssh_private_key_file=~/.ssh/id_rsa

[basics_hosts]
# 192.168.1.10
# server.example.com

[cockpit_hosts]
# 192.168.1.10
# server.example.com

[coolify_hosts] 
# 192.168.1.10
# server.example.com
