# Prevents access through IP_ADDRESS:PORT after you've configured your instance domain.
# See: https://github.com/coollabsio/coolify/discussions/4031
services:
    coolify:
        ports: !reset []
    soketi:
        ports: !reset []
